.form_container textarea,.form_container  input{
    outline:none;
    border:2px solid #a6a6a6;
    font-size: 0.8rem;
    font-weight: 500;
}
.sendbutton{
    outline:none;
    border:none;
    padding:10px 20px;
    font-size: 1.2rem;
    font-weight: 400;
    cursor: pointer;
    border-radius: 10px;
    background-color: #00c2aa;
    color:white;
    display:flex;
    align-items: center;
}
.form_containerwrapper{
    width:100%;

}
.twitter,.linkedin,.github{
    height:30px;
    width:30px;
    cursor:pointer;
    transition: transform 0.3s;
}
.twitter:hover,.linkedin:hover,.github:hover{
   transform:scale(1.2);
}
.contact_icons{
    justify-content: center;
    width:fit-content;
    padding:0 20px;
    display:flex;
    flex-direction: column;
    gap:30px;
}
.form_containerwrapper{
    display:flex;
    justify-content: space-evenly;
}
.email{
    background-color: #00c2aa;
    cursor:pointer;
    color:white;
    font-size: 1.4rem;
    border-radius: 10px;
    padding:10px 15px;
}
.sendicon{
    margin-right: 7px;
    width:23px;
    height:23px;
}
.form_container{
    padding:20px 0px;
}
.username:focus,.useremail:focus,.usermessage:focus{
    border-color: #3a90ff;
}
.contacts_container{
   display:flex;
   flex-direction: column;
   align-items: center;
}
.contacts_heading{
    padding:20px 0;

}
.usermessage{
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 500;
    overflow-y: auto;
    resize:none;

}

.form_container{
    width:80%;
    display:flex;
    flex-direction: column;
    gap:30px;
    align-items: center;
}
.username,.useremail,.usermessage{
    width:80%;
}
.username,.useremail{
    padding:15px ;
    border-radius: 10px;

}
.usermessage{
    height:200px;
    padding:15px;
}


@media(max-width:800px){
    
    .username,.useremail,.usermessage{
        width:90%;
    }
    .email{
        font-size: 0.8rem;
    }
    .sendbutton{
        font-size: 0.9rem;
    }
}

@media(max-width:500px){
    .contacts_heading{
        font-size: 1.3rem;
    }
    .usermessage{
        height:140px;
    }
    .usermessage,.useremail,.username{
        padding:10px;
    }
    .sendicon{
        height:18px;
        width:18px;
    }
    .linkedin,.github,.twitter{
        height:23px;
        width:23px;
    }
}

@media(max-width:400px){
    .usermessage{
        height:110px;
    }
}