.About_section {
  text-align: center;
  padding: 70px 0px;
  height: fit-content;
  width: 100%;
  background-color: #def7ff;
}
.About_heading {
  font-size: 2.2rem;
  font-weight: 800;
  color: #1637ca;
  padding: 10px 0px;
}
.About {
  padding-bottom: 20px;
  padding-left: 80px;
  padding-right: 80px;
  text-align: left;
  font-size: 2rem;
  line-height: 1.4;
  word-spacing: 0.3rem;
  font-weight: 800;
  color: #333333;
}

@media (max-width: 1000px) {
  .About {
    font-size: 1.4rem;
    padding: 0px 40px;
    padding-top: 10px;
  }
  .About_heading {
    font-size: 1.7rem;
  }
}

@media (max-width: 700px) {
  .About_section {
    padding: 45px 0px;
  }
  .About {
    word-spacing: 0.2rem;

    font-size: 1.2rem;
    padding: 0px 30px;
    padding-top: 10px;
  }
  .About_heading {
    font-size: 1.5rem;
  }
}
@media (max-width: 500px) {
  .About {
    line-height: 1.1;
    font-size: 1rem;
    padding: 0px 20px;
    padding-top: 10px;
  }
  .About_heading {
    font-size: 1.3rem;
  }
}
@media (max-width: 400px) {
  .About {
    font-size: 0.9rem;
    padding-top: 10px;
  }
  .About_heading {
    font-size: 1.3rem;
  }
}
